{% extends "logs/base.html" %}

{% block content %}

<h2>Your Topics</h2>

<p>
<a class="btn btn-primary" href="{% url 'logs:new_topic' %}">Add new topic</a>
</p>

{% for topic in topics %}

<div class="panel panel-default">

<div class="panel-heading">
<h3>
<a href="{% url 'logs:topic' topic.id %}">
{{ topic }}
<small style="color:gray;">
Added by {{ topic.owner.username }}
</small>
<a href="{% url 'logs:delete_topic' topic.id %}"
class="btn btn-danger btn-sm"
onclick="return confirm('Are you sure you want to delete this topic?')">
Delete Topic
</a>
</h3>
</div>

<div class="panel-body">

<p>
<a href="{% url 'logs:new_entry' topic.id %}">Add new entry</a>
</p>

{% for entry in topic.entry_set.all %}

<div class="panel panel-default">

<div class="panel-heading">
{{ entry.date_added|date:'M d, Y H:i' }}
<span class="badge bg-secondary">
Added by {{ topic.owner.username }}
</span>
<a href="{% url 'logs:delete_entry' entry.id %}"
onclick="return confirm('Are you sure you want to delete this entry?')">
Delete Entry
</a>

<a href="{% url 'logs:edit_entry' entry.id %}">
edit entry
</a>

</div>

<div class="panel-body">
{{ entry.text|linebreaks }}
</div>

</div>

{% empty %}
<p>No entries yet.</p>

{% endfor %}

</div>

</div>

{% empty %}

<p>No topics have been added yet.</p>

{% endfor %}

{% endblock content %}